<div class="product-meta">
  <span class="meta-item">
    <% const brand = brands.find(brand => brand.id === item.brand_id); %>
    <% if (brand) { %>
      <p><%= brand.name %></p>
    <% } %>
  </span>
  <span class="meta-item">
    <% const scale = scales.find(scale => scale.id === item.scale_id); %>
    <% if (scale) { %>
      <p><%= scale.scale %></p>
    <% } %>
  </span>
  <span class="meta-item">
    <% const category = categories.find(category => category.id === item.category_id); %>
    <% if (category) { %>
      <p><%= category.name %></p>
    <% } %>
  </span>
</div>