<div class="product-meta">
  <span class="meta-item">
    <% brands.forEach(brand => { %>
      <p><%= brand.id === item.brand_id ? brand.name : '' %></p>
    <% }) %>
  </span>
  <span class="meta-item">
    <% scales.forEach(scale => { %>
      <p><%= scale.id === item.scale_id ? scale.scale : '' %></p>
    <% }) %>
  </span>
  <span class="meta-item">
    <% categories.forEach(category => { %>
      <p><%= category.id === item.category_id ? category.name : '' %></p>
    <% }) %>
  </span>
</div>