<div>
  <label class="filter-label" for="scale">Scales:</label>
  <select id="scale">
    <option value="">All Scales</option>
    <% scales.forEach(scale => { %> 
      <option value="<%= scale.id %>"><%= scale.scale %></option>
    <% }); %>
  </select>
</div>